@page "/"
@using Microsoft.AspNetCore.Identity;
@inject NavigationManager navigationManager
@inject IJSRuntime jsRuntime

<AuthorizeView>
    <Authorized>
        <PageTitle>Index</PageTitle>

        <h1>Hello, world!</h1>

        Welcome to Traffic Escape!

        <SurveyPrompt Title="Optimize your route timing with Traffic Escape." />
    </Authorized>
    <NotAuthorized>
        <RedirectToLogin/>
    </NotAuthorized>
</AuthorizeView>
